.home{
    background: var(--bg-principale);
    min-height: 100vh;
    max-height: auto;
    position: relative;
}


.home .containerPost{
    margin: auto;
    width: var(--contenairThree);
    margin: auto;
}