@font-face {
  font-family: "Michroma";
  src: url("./assets/fonts/Michroma/Michroma-Regular.ttf");
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Michroma';
}

:root {

  /* Color use */
  --bg-principale : #08112A;
  --white: #ffffff;


  /* Contenair use */
  --contenairOne : 90%;
  --contenairTwo : 80%
}

img{
  width: 100%;
}


